<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorAddServlet</servlet-name>
    <servlet-class>servlet.DoctorAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorDeleteServlet</servlet-name>
    <servlet-class>servlet.DoctorDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorUpdateServlet</servlet-name>
    <servlet-class>servlet.DoctorUpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorSelectServlet</servlet-name>
    <servlet-class>servlet.DoctorSelectServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DoctorAddServlet</servlet-name>
    <url-pattern>/DoctorAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorDeleteServlet</servlet-name>
    <url-pattern>/DoctorDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorUpdateServlet</servlet-name>
    <url-pattern>/DoctorUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorSelectServlet</servlet-name>
    <url-pattern>/DoctorSelectServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>DoctorSelectServlet</welcome-file>
  </welcome-file-list>
</web-app>
